{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<section id="guestbook" class="guestbook">
  <div class="container">
    <div class="row">
      <h1 class="text-center">DAFTAR TAMU</h1>
      <div class="col-lg-12">
        <div class="card">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Waktu</th>
                <th scope="col">Nama</th>
                <th scope="col">Instansi</th>
                <th scope="col">Alamat</th>
                <th scope="col">No. Telepon</th>
                <th scope="col">Tujuan Berkunjung</th>
                <th scope="col">Foto</th>
              </tr>
            </thead>
            <tbody>
              {% for guest in guests %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{guest.tanggal}}</td>
                <td class="text-start">{{guest.nama}}</td>
                <td class="text-start">{{guest.instansi}}</td>
                <td class="text-start">{{guest.alamat}}</td>
                <td>{{guest.telepon}}</td>
                <td class="text-start">{{guest.tujuan}}</td>
                <td><i class="bi-file-person" data-bs-toggle="modal" data-bs-target="#modal{{guest.id}}"></i></td>
              </tr>
              <!-- Modal Foto-->
              <div class="modal fade" id="modal{{guest.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLabel">{{guest.nama}} | {{guest.tanggal}}</h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                      <img src="/static/upload/{{guest.foto}}" class="img-fluid" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Akhir Modal Foto  -->
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="btn-nav">
          <div class="btn">
            <a href="{{ url_for('input_tamu' ) }}"><i class="bi-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Input Guest Book"></i></a>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
