{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<section id="safety-induction" class="safety-induction text-center d-flex align-items-center position-relative">
  <div class="container">
    <div class="row">
      <h1>SAFETY INDUCTION</h1>
      <div class="col-10 offset-1">
        <video controls autoplay width="90%" src="{{ url_for('static', filename='video/safety_induction.mp4' ) }}"></video>
      </div>
    </div>  
  </div>
</section>
{% endblock %}
