{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<section id="safety-induction" class="safety-induction text-center d-flex align-items-center position-relative">
  <div class="container">
    <div class="row">
      <h1>SAFETY INDUCTION</h1>
      <div class="col-10 offset-1">
        <div class="card">
          <iframe src="https://drive.google.com/file/d/12UvuyWbSBdK5dIAlCEYyCMLbfM_OnDWx/preview" width="852" height="480" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
