:root {
  /* Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  /* Colors */
  --color-bg: #212121;
  --color-text: #fff;
  --color-text2: #45505b;
  --color-btn: #ff4054;
  --color-btn-hover: #fc5767;
  --color-btn2: #4cd48d;
  --color-btn2-hover: #66d49b;
}
